#menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 70;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  letter-spacing: 1px;
}
#menu font-size:1.1em li {
  display: inline-block;
  margin: 10px 0;
  position: relative;
}
#menu > li > a {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding: 0 1.1em 1.1em 1.1em;
}
#menu li.active a:after {
  content: '';
  margin: 0 1.1em 0 1.1em;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  display: block;
}
